<h3>All Thoughts</h3>
<ul>
  <li>
	<table>
	<% @thoughts.each do |t| %>
	  <tr>
	  <td class="text">
		<%= link_to t.text, thought_path(t) %>
	  </td>
	  <td>
		By <%= link_to t.author.name, author_path(t.author) %>
	  </td>
	  </tr>
	<% end %>
	</table>
	<% if @thoughts.count.zero? %>
		Nobody is Thinking
	<% end %>
  </li>
</ul>


